body {
  font-family: Sans-Serif;
  background-color: #999;
}

/* $activeColor: #c0392b; //red */
$activeColor: #27ae60; //green
$darkenColor: darken($activeColor, 20%);
/* $background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/13460/dark_wall.png'); */
$background: #3498db;

.app {
  width: 33vw;
  margin: auto;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);

  h1 {
    text-align: center;
  }

  .toggles {
    color: #fff;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    background-color: #666;
    margin: 1rem -1rem -1rem -1rem;
    justify-content: space-between;
    box-shadow: inset 0px 5px 5px 0px rgba(33,33,33,0.75);

    .checkbox {
      width: 18px;
      height: 18px;
      position: relative;
      background: #fcfff4;
      margin-right: 0.5rem;
      background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
      border-radius: 50px;
      box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
      label {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 4px;
        left: 4px;
        cursor: pointer;
        background: linear-gradient(top, #222 0%, #45484d 100%);
        border-radius: 50px;
        box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
        &:after {
          content: '';
          width: 9px;
          height: 5px;
          position: absolute;
          top: 5px;
          left: 4px;
          border: 3px solid #fcfff4;
          border-top: none;
          border-right: none;
          background: transparent;
          opacity: 0;
          transform: rotate(-45deg);
        }
        &:hover::after {
          opacity: 0.3;
        }
      }
      input[type=checkbox] {
        visibility: hidden;
        &:checked + label:after {
          opacity: 1;
        } 
      }   
    }
  }

  .addTodoForm {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;

    .input {
      width: 75%;
      padding: 0.5rem;
    }

    .button {
      width: 25%;
      padding: 0.5rem;
      outline: none;
      border: none;
      background-color: #121c69;
      color: #fff;
      text-align: center;
    }
  }

  .todo {
    display: flex;
    margin: 1.5rem 0 0 0;
    padding: 0.5rem 0;
    font-weight: bold;
    transition: 1s;
    border-bottom: 1px solid #6b76cc;
    justify-content: space-between;
    font-family: 'Shadows Into Light Two', cursive;

    &.hide {
      opacity: 0;
      height: 0;
      padding: 0;
      margin: 0;
      transition: 1s;
    }

    .complete {
      color: #666;
      text-decoration: line-through;
    }

    button {
      border: none;
      outline: none;
      background-color: transparent;

      .fa {
        color: #333;
        font-size: 1.25rem;
      }
    }

    /* .squaredOne */
    .todoCheckbox {
      width: 18px;
      height: 18px;
      position: relative;
      margin-right: 1rem;
      background: #fcfff4;
      background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
      box-shadow: inset 0px 1px 1px white;
      label {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 4px;
        left: 4px;
        cursor: pointer;
        background: linear-gradient(top, #222 0%, #45484d 100%);
        box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
        &:after {
          content: '';
          width: 16px;
          height: 16px;
          position: absolute;
          top: 2px;
          left: 2px;
          background: $activeColor;
          background: linear-gradient(top, $activeColor 0%, $darkenColor 100%);
          box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
          opacity: 0;
        }
        &:hover::after {
          opacity: 0.3;
        }
      }
      input[type=checkbox] {
        visibility: hidden;
        &:checked + label:after {
          opacity: 1;
        }   
      } 
    }
    /* end .squaredOne */

    form {
      width: 82%;

      input {
        width: 80.5%;
        padding: 0.5rem 0.25rem;
        font-size: 1.12rem;
        margin-right: 0.5rem;
      }
      button {
        border: none;
        outline: none;
        background-color: transparent;

        .fa {
          color: #333;
          font-size: 1.25rem;
        }
      }
    }

    div {
      width: 80%;
    }
  }
}