body {
  font-family: Sans-Serif;
  background-color: #999;
}

.app {
  width: 33vw;
  margin: auto;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);

  h1 {
    text-align: center;
  }

  .toggles {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
  }

  .addTodoForm {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;

    .input {
      width: 75%;
      padding: 0.5rem;
    }

    .button {
      width: 25%;
      padding: 0.5rem;
      outline: none;
      border: none;
      background-color: #121c69;
      color: #fff;
      text-align: center;
    }
  }

  .todo {
    display: flex;
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    border-bottom: 1px solid #6b76cc;
    justify-content: space-between;
    font-family: 'Shadows Into Light Two', cursive;

    &.hide {
      position: absolute;
      left: 9999px;
    }

    .complete {
      color: #333;
      text-decoration: line-through;
    }

    form {
      width: 80%;

      .newText {
        width: 82%;
        padding: 0.25rem;
      }

      .save {
        width: 13%;
        color: #fff;
        background-color: #121c69;
        outline: none;
        border: none;
        padding: 0.38rem;
      }
    }

    div {
      width: 80%;
    }
  }
}